In [1]:
print('Python is cool')

Python is cool

# day 3

* data types
    * numbers
    * strings
    * variable assignemtn
    * printing
    * strings methods
    * lists
    * dictionaries
    * boolians
    * tuples
    * sets
* basic operations
    * comparison
    * if elseif, else statements
    * for loops
    * while loops
    * range()
    * linspace()
    * list comprehension
    * functions
    * lambda expressions
    * map & filter

## numbers

In [2]:
print(1+3)


(1+5)*(5-2)

4

18

In [3]:
3**2.0

9.0

this $\%$ will returne the remainder of the operation

In [4]:
13%3

1

In [5]:
# this will return an integer as the quotient
15//4

3

In [6]:
type(2.3248749357168457)

float

In [7]:
print((2)**.5)

1.4142135623730951

In [8]:
print((16)**(1/2))

4.0

In [9]:
# strings are sequences of characters using double or single quotes
print('i am a string in a single quotation')
print("i'm a string in a double quotation")

i am a string in a single quotation
i'm a string in a double quotation

# variable assignment

### variable names must be written on the left of the equal sign.
### variables can only start with a letter

In [12]:
x=10
x

10

In [14]:
name = 'destin'
print('hello', name, 'welcome to reu!')

hello destin welcome to reu!

In [17]:
name = 'destin'
print('hello '+ name+ ' welcome to reu!')

hello destin welcome to reu!

In [20]:
first_name = 'destin'
last_name = 'davis'
print('hello hu! my first name is {one} and my last name is {two}'.format(one=first_name, two=last_name))

hello hu! my first name is destin and my last name is davis

In [22]:
first_name = 'destin'
last_name = 'davis'
print('hello hu! my first name is {} and my last name is {}'. format(first_name, last_name))

hello hu! my first name is destin and my last name is davis