In [1]:
print('Python is cool')

Python is cool

# day 3

* data types
    * numbers
    * strings
    * variable assignments
    * printing
    * strings methods
    * lists
    * dictionaries
    * boolians
    * tuples
    * sets
* basic operations
    * comparison
    * if elseif, else statements
    * for loops
    * while loops
    * range()
    * linspace()
    * list comprehension
    * functions
    * lambda expressions
    * map & filter

## numbers

In [2]:
print(1+3)


(1+5)*(5-2)

4

18

In [3]:
3**2.0

9.0

this $\%$ will returne the remainder of the operation

In [4]:
13%3

1

In [5]:
# this will return an integer as the quotient
15//4

3

In [6]:
type(2.3248749357168457)

float

In [7]:
print((2)**.5)

1.4142135623730951

In [8]:
print((16)**(1/2))

4.0

# strings

In [9]:
# strings are sequences of characters using double or single quotes
print('i am a string in a single quotation')
print("i'm a string in a double quotation")

i am a string in a single quotation
i'm a string in a double quotation

# variable assignment

### variable names must be written on the left of the equal sign.
### variables can only start with a letter

In [10]:
x=10
x

10

In [11]:
name = 'destin'
print('hello', name, 'welcome to reu!')

hello destin welcome to reu!

In [12]:
name = 'destin'
print('hello '+ name+ ' welcome to reu!')

hello destin welcome to reu!

In [13]:
first_name = 'destin'
last_name = 'davis'
print('hello hu! my first name is {one} and my last name is {two}'.format(one=first_name, two=last_name))

hello hu! my first name is destin and my last name is davis

In [14]:
first_name = 'destin'
last_name = 'davis'
print('hello hu! my first name is {} and my last name is {}'. format(first_name, last_name))

hello hu! my first name is destin and my last name is davis

# string methods

In [15]:
name = 'destin'
school = 'HOWARD UNIVERSITY'
# title method (first letter will be capitalized)
print(name.title())

print(school.title())

# upper method (everything will be capitalized)
print(name.upper())

# lower method (everything will be lowercase)
print(school.lower())

Destin
Howard University
DESTIN
howard university

In [16]:
# split method
print(school.split())

a_string = 'h+e+l+l+o'
print(a_string.split('+'))

['HOWARD', 'UNIVERSITY']
['h', 'e', 'l', 'l', 'o']

In [17]:
# count method
activity = 'i am learning python'
print(activity.count('n'))

3

In [18]:
# center method
print(activity.center(105))

                                           i am learning python

In [19]:
# see if a string is numeric or not
num_str = '12345'
print(num_str.isnumeric())

num_str = '12345'
print(school.isnumeric())

True
False

In [20]:
letters = '___abc____'
print(letters)
print(len(letters)) # this will return the length of the string

# strip method
stripped = letters.lstrip('_')
print(stripped)
right_stripped = letters.rstrip('_')
print(right_stripped)

___abc____
10
abc____
___abc

# lists

In [21]:
# lists are used to store multiple variables into a single variable matrix or column
a_list = ['fruit', 'vegetable', 'seafood', 'meat lover']

print(a_list[0])
print(a_list[0:3]) # note that the index 3 is excluded
print(a_list[1:4])
a_list[0] = 'babies'
print(a_list)
print(a_list[::-1]) # this reverses the order of the list
                    # (when used with strings it reverses the order of the characters in the string)
print(school[::-1])

a_list.insert(5,'PEOPLE')
a_list

fruit
['fruit', 'vegetable', 'seafood']
['vegetable', 'seafood', 'meat lover']
['babies', 'vegetable', 'seafood', 'meat lover']
['meat lover', 'seafood', 'vegetable', 'babies']
YTISREVINU DRAWOH

['babies', 'vegetable', 'seafood', 'meat lover', 'PEOPLE']

In [22]:
# popping out specific items from the list
a_list.pop(1)
a_list

['babies', 'seafood', 'meat lover', 'PEOPLE']

In [23]:
# removing items
a_list.remove('babies'), a_list.remove('PEOPLE')
a_list

['seafood', 'meat lover']

In [24]:
b_list = ['a','b','c','d']
a_list+b_list

['seafood', 'meat lover', 'a', 'b', 'c', 'd']

# dictionary
## dictionaries are used to store data in key:value pairs

In [25]:
thisdict = {
    'brand':'Ford',
    'model':'Mustang',
    'year': 1967,
    'milage':200000,
    'color':'green',
    'cylinder':'6'
}

thisdict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1967,
 'milage': 200000,
 'color': 'green',
 'cylinder': '6'}

In [26]:
thisdict['model']

'Mustang'

In [27]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1967), ('milage', 200000), ('color', 'green'), ('cylinder', '6')])

In [28]:
thisdict.keys()

dict_keys(['brand', 'model', 'year', 'milage', 'color', 'cylinder'])

In [29]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1967, 200000, 'green', '6'])