In [2]:
print('Python is cool')

Python is cool

# day 3

* data types
    * numbers
    * strings
    * variable assignemtn
    * printing
    * strings methods
    * lists
    * dictionaries
    * boolians
    * tuples
    * sets
* basic operations
    * comparison
    * if elseif, else statements
    * for loops
    * while loops
    * range()
    * linspace()
    * list comprehension
    * functions
    * lambda expressions
    * map & filter

## numbers

In [3]:
print(1+3)


(1+5)*(5-2)

4

18

In [11]:
3**2.0

9.0

this $\%$ will returne the remainder of the operation

In [5]:
13%3

1

In [7]:
# this will return an integer as the quotient
15//4

3

In [8]:
type(2.3248749357168457)

float

In [10]:
print((2)**.5)

1.4142135623730951

In [13]:
print((16)**(1/2))

4.0

In [15]:
# strings are sequences of characters using double or single quotes
print('i am a string in a single quotation')
print("i'm a string in a double quotation")

i am a string in a single quotation
i'm a string in a double quotation